:root {
  font-size:  6.25%; /* transforma a medida padrao em relativa, onde 1px = 1rem*/
}

/* Configura o corpo da página */
body {
  background-image: url('img/imgfundTelA1.png');
  height: 90%;
  width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Copperplate, Papyrus, fantasy;
  margin: 3%;
  color: #000000;
}

/* Configura o cabeçalho da página */
header {
  background-color: rgba(230, 230, 224, 0.2);
  padding: 30rem;
  text-align: center;
  font-size: 36rem;
  position: relative;
}

/* Configura a parte principal da página */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20rem;
}

/* Contêiner flexível para os textareas */
.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10rem;
}

/* Contêiner de entrada */
.input-container {
  flex: 1;
  margin-right: 10rem;
  margin: 1%;
}

/* Estilização das áreas de texto */
textarea {
  background-color: rgba(215, 215, 210, 0.8);
  width: 100%;
  height: 100px;
  padding: 1rem;
  font-size: 16rem;
  border: 5rem solid rgb(215, 215, 210);
  border-radius: 5rem;
}

/* Estilização dos botões */
.botoes {
  display: flex;
  justify-content: flex-end; /* Alinha os botões à direita */
  gap: 10rem;
  margin-top: 10rem; /* Adiciona um espaço entre os botões e os textareas */
}

button {
  padding: 10rem 20rem; /* tamanho dos botões */
  font-size: 18rem; /* tamanho da fonte dos botões */
  background-color: #8aa89d;
  color: #fff;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 6rem #666;
}

button:hover {
  background-color: #6b896e; /* Mudança de cor no hover */
}

button:active {
  background-color: #547055; /* Mudança de cor ao pressionar */
  box-shadow: 0 3rem #666;
  transform: translateY(3px);
}

/* Estilização da caixa de resultado */
#resultado {
  background-color: rgba(215, 215, 210, 0.8);
  flex: 1;
  height: 100rem;
  padding: 1px;
  font-size: 16rem;
  border: 5rem solid rgb(215, 215, 210);
  border-radius: 5rem;
}

/* Estilização do rodapé */
footer {
  text-align: center;
  padding: 10rem;
  color: rgb(232, 19, 19);
  background-color: rgba(213, 211, 208, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22rem;
  margin: 5%;
  height: 10%;
  width: 90%;
}

.botaoLinkedin {
  padding: 10rem 20rem; /* tamanho dos botões */
  font-size: 18rem; /* tamanho da fonte dos botões */
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 6rem blueviolet;
}